(1)[[:space:]]Calcular[[:space:]]funciones[[:space:]]arm/303/263nicas[[:space:]]en[[:space:]]geometr/303/255as[[:space:]]fractales/Campos/Campo1.txt filter=lfs diff=lfs merge=lfs -text
(1)[[:space:]]Calcular[[:space:]]funciones[[:space:]]arm/303/263nicas[[:space:]]en[[:space:]]geometr/303/255as[[:space:]]fractales/Campos2/CampoComplejo5001x5001.txt filter=lfs diff=lfs merge=lfs -text
